.dh-swiper {
  height: 100%;
  width: 90%;

  .swiper-slide {
    height: 100%;
    width: 100%;
    color: #fff;
  }

  .swiper-pagination {
    text-align: left;
    margin-left: 2rem;
  }

  .swiper-pagination-bullet {
    width: 50px;
    height: 6px;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: #fff;
  }

  .swiper-pagination-bullet-active {
    position: relative;
    overflow: hidden;

    &::before {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background: #007aff;
      animation: progress 10s linear 1;
    }
  }
}

.main-dh-swiper {
  .swiper-slide {
    filter: blur(5px);
    background: linear-gradient(180deg, #d8d8d880 0%, #00081323 98%);
    opacity: 0.1;
  }

  .swiper-slide-active {
    filter: blur(0px);
    background: linear-gradient(180deg, #d8d8d880 0%, #00081323 98%) !important;
    opacity: 1;
    transition: all 0.3s;
  }

  .swiper-slide-prev {
    filter: blur(5px);
    background: linear-gradient(180deg, #89898980 0%, #00081378 100%);
    opacity: 0.2;
  }

  .swiper-slide-next {
    filter: blur(0px);
    background: linear-gradient(180deg, #d8d8d880 0%, #00081323 98%);
    opacity: 0.6;
  }
}

.dh-slider-gallery {
  .swiper-pagination {
    text-align: center;
    margin-left: 2rem;
  }

  .swiper-pagination-bullet {
    width: 60px;
    height: 6px;
    border-radius: 5px;
    text-align: center;
    line-height: 200px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: #efefef;
    transform: translateY(10px);
  }

  .swiper-pagination-bullet-active {
    position: relative;
    overflow: hidden;

    &::before {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background: #007aff;
      animation: progress 5s linear 1;
    }
  }
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .dh-slider-gallery {
    .swiper-slide {
      margin-right: 1rem !important;
    }

    .swiper-pagination-bullet {
      width: 40px;
      height: 4px;
    }
  }
}
